body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content { 
    background-color: #8B0000;
    border-radius: 80px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.main {
    display: flex;
    
}

.buttonsMenu {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
}

header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #d4af37;
    margin: 15px;
    text-align: center;
    font-family: cursive;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden; 
    width: 529px;
    height: 529px;
    border-radius: 15px;
    background-color: #F0FFF0;
    color: rgba(137, 81, 41, 0.3);
    margin: 70px 70px 20px 30px; 
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}

button {
    background-color:#F0FFF0;
    width: 180px;
    height: 50px;
    border: 5px solid #F0FFF0;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    font-family: 'Courier New', Courier, monospace;
}