body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.buttonsMenu,
.conteiner {
    display: flex;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden; 
    width: 529px;
    height: 529px;
    background-color: antiquewhite;
    color: rgba(137, 81, 41, 0.3);
    margin: 50px; 
    box-sizing: border-box;
}

button {
    background-color:pink;
    width: 180px;
    height: 50px;
    border: 5px solid pink;
    border-radius: 8px;
    margin-top: 30px;
}