body,
.conteiner {
    display: flex;
    justify-content: center;
    align-content: center;
}

.conteiner {
    flex-wrap: wrap;
    width: 394px;
    height: 394px;
    background-color: antiquewhite;
    color: rgba(137, 81, 41, 0.3);
    margin: 0px 0px 0px 0px;
}